<div class="post {{disabled ? '' : 'enabled'}}" on:click="playVideo()">
  <div class="postTable">
    <div class="postRow">
      <div class="voteRow">
        <div class='upvote {{vote != 1 ? "deselected" : ""}}' on:click="vote(event, vote == 1 ? 0 : 1)"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="19"><path fill="#EB5757" d="M18 19H0L9 0l9 19z"/></svg></div>
        <div class="votes">{{{votes}}}</div>
        <div class='downvote {{vote != -1 ? "deselected" : ""}}' on:click="vote(event, vote == -1 ? 0 : -1)"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="19"><path fill="#EB5757" d="M18 0H0L9 19l9 -19z"/></svg></div>
      </div>
      <div class="thumb">
        <img src="https://i.ytimg.com/vi/{{id}}/3.jpg" alt="YouTube video thumbnail">
      </div>
      <div class="postContent">
        <div class="titleRow">
          <div class="title">{{{title}}}</div>
          <div class="time">@{{{countdown}}} p.m.</div>
        </div>
        <div class="contentRow">
          <div class="startWhen">Ring in the new year when</div>
          {{#if event.trim() == ''}}
            <div class="event" disabled>Type in an event above to continue</div>
          {{else}}
            <div class="event">{{{event}}}</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{#if verify}}
    <div class="verifyRow" on:click="block(event)">
      <h2>Verification needed</h2>
      <p>
        New Year&rsquo;s Timer votes for you in the subreddit <a href="https://reddit.com/r/NewYearsTimer" target="blank_">/r/NewYearsTimer</a>.
        This subreddit&rsquo;s contents are displayed on this page. In order to
        vote on posts, we need to verify your Reddit account and secure
        permissions to vote and post (in case you want to submit your own posts).
      </p>
      <p>
        You may close this window after you click the &ldquo;Verify&rdquo;
        button.
      </p>
      <p>
        <button on:click="verify()">Verify</button>
      </p>
    </div>
  {{/if}}
</div>

<script>
  import {API_KEYS} from '../config.js';

  export default {
    data() {
      return {
        votes: 0,
        id: null,
        title: '',
        event: '',
        countdown: '',
        end: null,
        disabled: false,
        verify: false,
        vote: 0,
      };
    },
    methods: {
      playVideo() {
        if (this.get('disabled')) return;

        // Change the URL without reloading.
        // Adapted from https://stackoverflow.com/a/19279428
        if (history.pushState) {
          const path = `${window.location.protocol}//${window.location.host}${window.location.pathname}?v=${this.get('id')}&end=${this.get('end')}`;
          window.history.pushState({path}, '', path);
        }

        this.store.set({
          playing: true,
          playbackId: this.get('id'),
          playbackEnd: this.get('end'),
        });
      },
      vote(event, direction) {
        event.preventDefault();
        event.cancelBubble = true;

        const accessToken = localStorage.getItem('newyearstimer-redditAccess');
        if (accessToken != null) {
          this.attemptVote(this.get('name'), direction);
        } else {
          this.set({verify: true});
        }
      },
      attemptVote(id, direction) {
        const accessToken = localStorage.getItem('newyearstimer-redditAccess');

        if (accessToken != null) {
          // Vote
          fetch('https://oauth.reddit.com/api/vote', {
            method: 'post',
            headers: {
              'Content-type': 'application/x-www-form-urlencoded',
              'Authorization': `bearer ${accessToken}`,
            },
            body: `id=${encodeURIComponent(id)}&dir=${encodeURIComponent(direction)}`,
          }).then((response) => {
            if (response.status != 200) {
              this.showAuthFailed(true);
              return;
            }
            this.set({vote: direction});
          }).catch((e) => {
            console.error(e);
            this.showAuthFailed(true);
          });
        } else {
          this.showAuthFailed();
        }
      },
      showAuthFailed(submitting = false) {
        const previous = localStorage.getItem('newyearstimer-redditAccess');
        localStorage.removeItem('newyearstimer-redditAccess');
        if (submitting && previous != null) {
          this.attemptVote();
        } else {
          this.set({error: true});
        }
      },
      verify() {
        const random = `${Math.random()}`;
        localStorage.setItem('newyearstimer-redditVote', JSON.stringify({random}));

        const url = `https://www.reddit.com/api/v1/authorize?client_id=${API_KEYS.redditClient}&response_type=code&state=${random}&redirect_uri=${encodeURIComponent(API_KEYS.redditRedirect)}&duration=temporary&scope=submit,vote`;
        window.open(url);
      },
      block(event) {
        event.preventDefault();
        event.cancelBubble = true;
      }
    },
  };
</script>

<style>
  .voteRow {
    display: table-cell;
    color: #ec5656;
    font-weight: bold;
    vertical-align: middle;
    width: 50px;
    padding: 0 0.8em 0 0;
  }

  .votes {
    margin: 0.5em 0;
  }

  .thumb {
    display: table-cell;
    vertical-align: middle;
  }

  .thumb img {
    width: 60px;
  }

  .postContent {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
  }

  .title {
    color: #ec5656;
    font-weight: bold;
  }

  .startWhen {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    color: #ec5656;
  }

  .time {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    color: #828282;
  }

  .contentRow {
    margin-top: 0.8em;
  }

  .post {
    background: white;
    padding: 1em 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 2px #797979;
    text-align: center;
    font-size: 1em;
  }

  .postRow {
    display: table-row;
  }

  .post.enabled {
    cursor: pointer;
  }

  .post.enabled:hover {
    background: rgb(250, 250, 250);
  }

  .event {
    font-size: 0.9em;
  }

  .event[disabled] {
    font-style: italic;
    color: #a5a5a5;
  }

  .deselected {
    opacity: 0.4;
  }

  .postTable {
    display: table;
  }

  .verifyRow {
    text-align: left;
    padding: 0 0.5em;
  }

  .verifyRow h2 {
    color: #ec5656;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
    font-size: 1.3em;
  }

  @media only screen and (min-width: 570px)  {
    .thumb img {
      width: 120px;
    }
  }

</style>
